@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* reset */
*  { 
box-sizing: border-box;
margin: 0;
padding: 0;



}

/* main styling */
html,
body{
    font-family: "Monserrat", sans-serif;
    line-height: 1,5;
    transition: .3s, ease all;


   
   
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    text-align: center;
}

h3{
    font-size: 1rem;
}


h1,
h2,
h3 {

   
    margin-bottom: 15px;
    text-align: center;
}

ul{

    list-style: none;
}

p {
    font-size: 2rem;
    margin: 10px 0;
    line-height: 1,7em;

}



a {
    text-decoration: none;
    text-align: center;
}

/*utility class*/

.container {

    max-width: 1100px;
    margin: o auto;
    padding: o 30px;

} 

.large{
    
    font-size: 20px;
    font-weight:lighter;
    text-align: center;
    padding-bottom: 30px;


}

.btncv {

    width: 20%;
    height: 15px;
    min-height: 10%;
    background-color: sandybrown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding: 20px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    color: aliceblue;
    border: 2px solid sandybrown;
    


}

.btncv:hover {


    width: 20%;
    height: 15px;
    background: #fbfbfb;
    border: 6px solid sandybrown;
    color: sandybrown;
}

.navbar {

    background-color: greenyellow;
    color: #000;
    height: 90px;

}

.navbar .logo {

    width: 80px;
    height: auto;
    justify-items: baseline;
    font-size: x-large;
    font-weight: 500px;


}


.navbar a{

    color: white;
    font-size: 18px;
    font-weight: 400px;
}

.navbar .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul  {
    display: flex;

}

.navbar li {
       margin-left: 20px;

}

#switch {
       

    }





.mainheader {
    background-color: aliceblue;
    color: black;
    min-height: 400px;
    align-items: center;
    

}

.mainheader img {

    border-radius: 60%;
    margin-top: 30px;
    padding: 40px 40px;


}

.mainheader p{
    text-align: left;
    margin: 20px 20px;
}

.mainheader .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
       
    
}

.features {
    background-color: white;
    color: black;
    min-height: 200px;
    padding-top: 10px;
}
 

.features .container {

    display: flex;
    align-items: center;
    justify-items: center;
    
}

.features .box1{
    
    flex: 1;
    margin: 10% 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10% 40px;
    background-color: rgb(216, 203, 202);
    width: 100%;
    
}

.features p {

    font-size: 22px;
    font: bold;
    text-align: center;
    
}

 
.iconos .container{

    justify-content:center;
    display: flex;
    background: #f1f1f1;
  

   

}






#Contacto  {

    display: flex;
    justify-content:right;
    align-items: center;
    text-align: center;
    background: #f1f1f1;
}






.row-box1{

    flex: 1;
    align-items: center;
    justify-content: center;
    
        
}

.row-box2{

    
    align-items: center;
    justify-content: center;
 
        
}

#Contacto{

    flex: 1;
    align-items: right;
    justify-content: right;
    width: 100px;
    max-height: 100px;
    margin: 20 40px;
    padding: 10 2px;
        
}

.mail{

    display: flex;
    width: 100px;
    background: #f1f1f1;
    max-height: 100px;
    margin: 20 60px;
    padding: 10 2px;
    justify-content: left;
}

.git{
    
    display: flex;
    width: 100px;
    max-height: 100px;
    margin: 20 40px;
    padding: 10 2px;
    justify-content: center;
}

.linkedin {

    display: flex;
    width: 100px;
    max-height: 100px;
    margin: 20 60px;
    padding: 10 2px;
    justify-content: right;
    
}

#footer {
    background-color: salmon;
    color: white;
    padding: 30px;
    height: 80px;
    text-align: center;
   
}

/*Responsive*/
@media screen and (max-width: 700px) {
        .mainheader .container 
    { flex-direction:column;
      padding-top: 20px;
      text-align: left;
    }
       .features .container .iconos #footer
    {  display:block;
       text-align: center;
     }
    
    
    }

@media screen and (min-width: 700px) {
    .body .mainheader .features .iconos .container
     {background-color: aquamarine;

    }
    
}